{% extends 'base.html.twig' %}
{% block body %}

    <p class="center">
        <a href="{{ path('productsList') }}" class="product__link">Go back to cat list</a>
    </p>

    <div class="product single">

        <div class="product__thumbnail" style="background-image: url('/uploads/{{ product.image }}')"></div>
        <h1 class="product__name">{{ product.name }} | <i class="product__price">{{ product.price / 100 }}€</i></h1>
        <span class="product__description">{{ product.description|raw }}</span><br/>

    </div>

    <div class="product__comments">
        <h1>Latest comments:</h1>
        {% for comment in comments %}
            <div class="product__comments__single">
                <p>{{ comment.commentText }}</p>
                <span class="product__comments__author">by {{ comment.author }}</span>
            </div>
        {% endfor %}
        {{ form_start(form) }}
        <h3>Add a comment:</h3>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
